.video-container, .video-container iframe,
.blank-placeholder {
  width: 100%;
  max-width: 1200px;
  aspect-ratio: 16 / 9;
  background-color: #000000;
  border-radius: 8px;
}

.blank-placeholder {
  background-color: #000;
  border: 5px;

}