/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #b40404;
  --secondary-color: #ff0000;
  --accent-color: #e8e7fa;
  --shadow-color: #E8E8E8;
}

.btn-bookmark-toggle {
  margin-right: 10px;
  padding: 8px 12px;
  background-color: #e4ba03e1;
  border: 1px solid #e4ba03e1;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.btn-bookmark-toggle:hover {
  margin-right: 10px;
  padding: 8px 12px;
  background-color: hsl(49, 97%, 59%);
  border: 1px solid #e4ba03e1;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}